<div>
  <h1>welcom to {{message }}</h1>
  <!-- <app-root></app-root> -->
  <!-- <div class="app-test"></div> -->
  <!-- <div class="" app-test></div> -->
  <!-- <app-binding></app-binding> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-class-binding></app-class-binding> -->
  <!-- <app-style-binding></app-style-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-structural-directives></app-structural-directives> -->
  <!-- <app-component-interaction [parentData]="name" (childEvent)="message=$event" ></app-component-interaction> -->
  <!-- <app-pipes></app-pipes> -->
  <app-service></app-service>
  <app-service-detail></app-service-detail>
</div>
<router-outlet></router-outlet>
